<div class="flex center justify-between top-div">
  <div class="back-div">
 <%= link_to controller: 'categories', action: 'index' do %>
 <%= image_tag('002-back.png', alt: 'Example Image', class:'back-icon') %>
 <% end %>
 </div>
  <h2 class="white btn-primary">TRANSACTIONS</h2>
  <div class="actions ">
  </div>
  </div>
<h1> <%= @category_info[:name] %></h1>
<%= image_tag @category_info[:icon], alt: 'Category Icon' %>
<p>Total Amount: <%= @total_amount %></p>

<% @budget_transactions.each do |transaction| %>
  <p><%= transaction.name %> - <%= transaction.amount %></p>
<% end %>

<%= link_to 'Add Transaction', new_category_budget_transaction_path(@category), class: 'btn btn-primary' %>
<%= link_to 'Back', authenticated_root_path(@category) %>
