<div class="flex center justify-between top-div">
  <div class="back-div">
 <%= image_tag('001-hamburger.png', alt: 'Example Image', class:'back-icon') %>
 </div>
  <h2 class="white btn-primary">CATEGORIES</h2>
  <div class="actions ">
  <% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, class:"white btn-primary", data: { turbo_method: :delete } %>
<% end %>
  </div>
  </div>
<% @categories.each do |category| %>
  <div>
    <%= link_to category.name, category_budget_transactions_path(category) %>
       <p> <%= image_tag(category.icon, alt: 'Category Icon') %></p>
    <p>Total Amount: <%= category.total_amount %></p>
  </div>
<% end %>
<%= link_to 'Add a new category', new_category_path %>
